branches:
  only:
  - fathon-dev

env:
  global:
    - CIBW_BUILD_VERBOSITY=1
#    - CIBW_BUILD="cp35-* cp36-*"
#    - CIBW_BUILD="cp37-* cp38-*"
#    - CIBW_SKIP: "*-manylinux_i686"
    - CIBW_TEST_REQUIRES=pytest
    - CIBW_TEST_COMMAND="pytest {project}/tests"
    - CIBW_BEFORE_BUILD="pip3 install -r requirements.txt"

matrix:
  include:
    # ===== Linux ======
    - name: "Python 3.7 on Linux"
      env:
        - CIBW_BUILD="cp35-manylinux* cp36-manylinux* cp37-manylinux* cp38-manylinux*"
        - CIBW_SKIP: "*-manylinux_i686"
      language: python
      dist: xenial
      sudo: required
      python: "3.7"
      services:
        - docker
    # ======= macOS ========
    - name: "Python 3.7 on macOS 10.14 (1)"
      env:
        - CIBW_BUILD="cp35-macosx* cp36-macosx*"
      os: osx
      osx_image: xcode10.2
      language: shell
    # ======= macOS ========
    - name: "Python 3.7 on macOS 10.14 (2)"
      env:
        - CIBW_BUILD="cp37-macosx* cp38-macosx*"
      os: osx
      osx_image: xcode10.2
      language: shell

before_install:
  - python3 --version

install:
  - pip3 install --upgrade cibuildwheel

script:
  - cibuildwheel --output-dir wheelhouse
  - ls wheelhouse
  - pip install twine
  - twine upload --repository-url https://test.pypi.org/legacy/ --skip-existing wheelhouse/* -u ${TEST_PYPI_USR} -p ${TEST_PYPI_PWD}
